.mshadow-sm {
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}
.mshadow-md {
	box-shadow: 0 0 4rem rgba(0, 0, 0, 0.15);
}
.mshadow-xl {
	box-shadow: 0 0 6rem rgba(0, 0, 0, 0.2);
}

article {
	@apply py-6;
	@apply grid;
	@apply gap-4;
}
section {
	@apply py-6;
	@apply mb-8;
}

.input {
	@apply rounded-sm;
	@apply mt-2;
	@apply w-full;
	@apply border-2;
	@apply border-gray-200;
	@apply px-4;
	@apply py-3;
	@apply outline-none;
	@apply transition-colors;
}
.input:hover,
.input:focus,
.input:active {
	@apply border-blue-300;
}
